/* module 1 */
@font-face {
    font-family: Quicksand_regular;
    src: url("fonts/Quicksand_regular.ttf");
 }
 @font-face {
    font-family: Quicksand_medium;
    src: url("fonts/Quicksand_medium.ttf");
 }
 @font-face {
    font-family: Quicksand_bold;
    src: url("fonts/Quicksand_bold.ttf");
 }
.container_module1 {
    width: 300px;
    border-radius: 10px;
    /* overflow: hidden; */       
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.content_module1{
    width: 300px;
    height: 200px;
    /* overflow: hidden; */
    position: relative;
}

.image_module1 {
    height: 250;
}
.icon-heart_module1 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
}

.name-content_module1 {
    display: flex;
    align-items: center;
}

.icon-location_module1 {
    width: 20px;
    height: 20px;
}

.star_module1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon-star_module1 {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.discount_module1 {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
}

.count-discount_module1 {
    background-color: #F2AE30;
    color: azure;
    font-family: "Quicksand_regular";
    font-size: 16px;
  
}

.arrow-left_module1 {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #F2AE30; 
  }

.detail_module1 {
    position: relative;
    padding: 10px;
}

.title_module1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.name_module1 {
    font-size: 20px;
    font-family: "Quicksand_regular";

    padding: 0px;
    margin: 0px;
}

.address_module1 {
    font-size: 10px;
}

.room_module1 {
    font-size: 14px;
    margin-top: 10px;
}

.price_module1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.current-price_module1 {
    font-family: "Quicksand_medium";
font-size: 16px;
}

.base-price_module1 {
    text-decoration: line-through;
    font-size: 12px;
}

.unit_module1 {
    font-family: "Quicksand_bold";

    text-decoration: underline;
}
